<a [routerLink]="[index]"
   style="cursor: pointer"
   routerLinkActive="active"
   class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{product.name}}</h4>
    <p class="list-group-item-text">{{product.description}}</p>
  </div>
  <span class="pull-right">
    <span class="label label-info">{{product.price | currency:'USD':true}}</span>
    <img [src]="product.imageUrl"
         alt="{{product.name}}"
         class="img-responsive"
         style="max-height: 150px">
  </span>
</a>
